 #asl {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/Chinook.jpg) fixed center center;
    background-size: cover;
    padding: 38px 0 41em 0;}


body {
     background: #fff;
     color: #666666;
     font-family: "Open Sans", sans-serif;
}
 a {
     color: #03C4EB;
     transition: 0.5s;
}
 a:hover, a:active, a:focus {
     color: #03c5ec;
     outline: none;
     text-decoration: none;
}
 p {
     padding: 0;
     margin: 0 0 30px 0;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: "Raleway", sans-serif;
     font-weight: 400;
     margin: 0 0 20px 0;
     padding: 0;
}
/* Prelaoder */
 #preloader {
     position: fixed;
     left: 0;
     top: 0;
     z-index: 999;
     width: 100%;
     height: 100%;
     overflow: visible;
     background: #fff url("../img/preloader.svg") no-repeat center center;
}
/* Back to top button */
 .back-to-top {
     position: fixed;
     display: none;
     background: rgba(0, 0, 0, 0.2);
     color: #fff;
     padding: 6px 12px 9px 12px;
     font-size: 16px;
     border-radius: 2px;
     right: 15px;
     bottom: 15px;
     transition: background 0.5s;
}
 @media (max-width: 768px) {
     .back-to-top {
         bottom: 15px;
    }
}
 .back-to-top:focus {
     background: rgba(0, 0, 0, 0.2);
     color: #fff;
     outline: none;
}
 .back-to-top:hover {
     background: #03C4EB;
     color: #fff;
}
 .customValidationText {
     color: red; !important;
     display: none;!important;
     margin: 0 0 20px;!important;
     font-weight: 400;!important;
     font-size: 13px;!important;
 }
 .mc-embedded-subscribe_class  {
     background: #03C4EB; !important
     border: 0; !important
     padding: 10px 24px; !important
     color: #fff; !important
     transition: 0.4s; !important
 }
/*-------------------------------------------------------------- # Welcome --------------------------------------------------------------*/
 #hero {
     display: table;
     width: 100%;
     height: 100vh;
     background: url(../img/military-cargo-plane-takeoff.jpg) top center;
     background-size: cover;
}
 @media (min-width: 1024px) {
     #hero {
         background-attachment: fixed;
    }
}
 #hero .hero-logo {
     margin: 20px;
}
 #hero .hero-logo img {
     max-width: 100%;
}
 #hero .hero-container {
     background: rgba(0, 0, 0, 0.45);
     display: table-cell;
     margin: 0;
     padding: 0;
     text-align: center;
     vertical-align: middle;
}
 #hero h1 {
     margin: 30px 0 10px 0;
     font-weight: 700;
     line-height: 48px;
     text-transform: uppercase;
     color: #fff;
}
 @media (max-width: 768px) {
     #hero h1 {
         font-size: 28px;
         line-height: 36px;
    }
}
 #hero h2 {
     color: #f9f9f9
}
 @media (max-width: 768px) {
     #hero h2 {
         font-size: 24px;
         line-height: 26px;
         margin-bottom: 30px;
    }
     #hero h2 .rotating {
         display: block;
    }
}
 #hero .rotating > .animated {
     display: inline-block;
}
 #hero .actions a {
     font-family: "Raleway", sans-serif;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 16px;
     letter-spacing: 1px;
     display: inline-block;
     padding: 8px 20px;
     border-radius: 2px;
     transition: 0.5s;
     margin: 10px;
}
 #hero .btn-get-started {
     background: #03C4EB;
     border: 2px solid #03C4EB;
     color: #fff;
}
 #hero .btn-get-started:hover {
     background: none;
     border: 2px solid #fff;
     color: #fff;
}
 #hero .btn-services {
     border: 2px solid #fff;
     color: #fff;
}
 #hero .btn-services:hover {
     background: #03C4EB;
     border: 2px solid #03C4EB;
}
/*-------------------------------------------------------------- # Header --------------------------------------------------------------*/
 #header {
     background: #adadad;
     padding: 20px 0;
 
}
 #header #logo {
     float: left;
}
 #header #logo h1 {
     font-size: 36px;
     margin: 0;
     padding: 6px 0;
     line-height: 1;
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     letter-spacing: 3px;
     text-transform: uppercase;
}
 #header #logo h1 a, #header #logo h1 a:hover {
     color: #fff;
}
 #header #logo img {
     padding: 0;
     margin: 0;
     max-height: 50px;
}
 @media (max-width: 768px) {
     #header {
         height: 89px;
    }
     #header #logo h1 {
         font-size: 26px;
    }
     #header #logo img {
         max-height: 40px;
    }
}
 .is-sticky #header {
     background: #adadad;
}
/*-------------------------------------------------------------- # Navigation Menu --------------------------------------------------------------*/
/* Nav Menu Essentials */
 .nav-menu, .nav-menu * {
     margin: 0;
     padding: 0;
     list-style: none;
}
 .nav-menu ul {
     position: absolute;
     display: none;
     top: 100%;
     left: 0;
     z-index: 99;
}
 .nav-menu li {
     position: relative;
     white-space: nowrap;
}
 .nav-menu > li {
     float: left;
}
 .nav-menu li:hover > ul, .nav-menu li.sfHover > ul {
     display: block;
}
 .nav-menu ul ul {
     top: 0;
     left: 100%;
}
 .nav-menu ul li {
     min-width: 180px;
}
/* Nav Menu Arrows */
 .sf-arrows .sf-with-ul {
     padding-right: 30px;
}
 .sf-arrows .sf-with-ul:after {
     content: "\f107";
     position: absolute;
     right: 15px;
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
}
 .sf-arrows ul .sf-with-ul:after {
     content: "\f105";
}
/* Nav Meu Container */
 #nav-menu-container {
     float: right;
     margin: 5px 0;
}
 @media (max-width: 768px) {
     #nav-menu-container {
         display: none;
    }
}
/* Nav Meu Styling */
 .nav-menu a {
     padding: 10px 15px;
     text-decoration: none;
     display: inline-block;
     color: #fff;
     font-family: 'Raleway', sans-serif;
     font-weight: 300;
     font-size: 14px;
     outline: none;
}
 .nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
     color: #262929;
}
 .nav-menu ul {
     margin: 4px 0 0 15px;
     box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}
 .nav-menu ul li {
     background: #fff;
     border-top: 1px solid #f4f4f4;
}
 .nav-menu ul li:first-child {
     border-top: 0;
}
 .nav-menu ul li:hover {
     background: #f6f6f6;
}
 .nav-menu ul li a {
     color: #333;
}
 .nav-menu ul ul {
     margin: 0;
}
/* Mobile Nav Toggle */
 #mobile-nav-toggle {
     position: fixed;
     right: 0;
     top: 0;
     z-index: 999;
     margin: 20px 20px 0 0;
     border: 0;
     background: none;
     font-size: 24px;
     display: none;
     transition: all 0.4s;
     outline: none;
}
 #mobile-nav-toggle i {
     color: #fff;
}
 @media (max-width: 768px) {
     #mobile-nav-toggle {
         display: inline;
    }
}
/* Mobile Nav Styling */
 #mobile-nav {
     position: fixed;
     top: 0;
     padding-top: 18px;
     bottom: 0;
     z-index: 998;
     background: rgba(0, 0, 0, 0.9);
     left: -260px;
     width: 260px;
     overflow-y: auto;
     transition: 0.4s;
}
 #mobile-nav ul {
     padding: 0;
     margin: 0;
     list-style: none;
}
 #mobile-nav ul li {
     position: relative;
}
 #mobile-nav ul li a {
     color: #fff;
     font-size: 16px;
     overflow: hidden;
     padding: 10px 22px 10px 15px;
     position: relative;
     text-decoration: none;
     width: 100%;
     display: block;
     outline: none;
}
 #mobile-nav ul li a:hover {
     color: #fff;
}
 #mobile-nav ul li li {
     padding-left: 30px;
}
 #mobile-nav ul .menu-has-children i {
     position: absolute;
     right: 0;
     z-index: 99;
     padding: 15px;
     cursor: pointer;
     color: #fff;
}
 #mobile-nav ul .menu-has-children i.fa-chevron-up {
     color: #03C4EB;
}
 #mobile-nav ul .menu-item-active {
     color: #03C4EB;
}
 #mobile-body-overly {
     width: 100%;
     height: 100%;
     z-index: 997;
     top: 0;
     left: 0;
     position: fixed;
     background: rgba(0, 0, 0, 0.6);
     display: none;
}
/* Mobile Nav body classes */
 body.mobile-nav-active {
     overflow: hidden;
}
 body.mobile-nav-active #mobile-nav {
     left: 0;
}
 body.mobile-nav-active #mobile-nav-toggle {
     color: #fff;
}
/*-------------------------------------------------------------- # Sections --------------------------------------------------------------*/
/* Sections Common --------------------------------*/
 .section-title {
     font-size: 32px;
     color: #111;
     text-transform: uppercase;
     text-align: center;
     font-weight: 700;
}
 .section-description {
     text-align: center;
     margin-bottom: 40px;
}
 .section-title-divider {
     width: 50px;
     height: 3px;
     background: #03C4EB;
     margin: 0 auto;
     margin-bottom: 20px;
}
/* Get Started Section --------------------------------*/
 #about {
     background: #fff;
     padding: 80px 0;
}
 #about .about-img {
     overflow: hidden;
}
 #about .about-img img {
     max-width: 100%;
}
 @media (max-width: 768px) {
     #about .about-img {
         height: auto;
    }
     #about .about-img img {
         margin-left: 0;
         padding-bottom: 30px;
    }
}
 #about .about-content {
     background: #fff;
}
 #about .about-title {
     color: #333;
     font-weight: 700;
     font-size: 28px;
}
 #about .about-text {
     line-height: 26px;
     margin-bottom: 15px;
}
 #about .about-text:last-child {
     margin-bottom: 0;
}
/* Services Section --------------------------------*/
 #services {
     background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/airplane.jpg") fixed center center;
     background-size: cover;
     padding: 38px 0 2em 0;
}
 #services .service-item {
     margin-bottom: 7em;
}
 #services .service-icon {
     float: left;
     padding: 16px;
     transition: 0.5s;
}
 #services .service-icon i {
     color: #3da8e0;
     font-size: 24px;
}
 #services .service-item:hover .service-icon {
     background: #fff;
}
 #services .service-item:hover .service-icon i {
     color: #03C4EB;
}
 #services .service-title {
     margin-left: 80px;
     font-weight: 700;
     margin-bottom: 15px;
     text-transform: uppercase;
}
 #services .service-title a {
     color: #111;
}
 #services .service-description {
     margin-left: 80px;
     line-height: 24px;
}
/* Subscribe Section --------------------------------*/
 #subscribe {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(../img/sunset-2095225.jpg) fixed center center;
     background-size: cover;
     padding: 80px 0;
}
 #subscribe .subscribe-title {
     color: #fff;
     font-size: 28px;
     font-weight: 700;
}
 #subscribe .subscribe-text {
     color: #fff;
}
 #subscribe .subscribe-btn-container {
     text-align: center;
     padding-top: 20px;
}
 #subscribe .subscribe-btn {
     font-family: "Raleway", sans-serif;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 16px;
     letter-spacing: 1px;
     display: inline-block;
     padding: 8px 20px;
     border-radius: 2px;
     transition: 0.5s;
     margin: 10px;
     border: 2px solid #fff;
     color: #fff;
}
 #subscribe .subscribe-btn:hover {
     background: #03C4EB;
     border: 2px solid #03C4EB;
}
/* Portfolio Section --------------------------------*/
 #portfolio {
     background: #fff;
     padding: 80px 0;
}
 #portfolio .portfolio-item {
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     height: 260px;
     width: 100%;
     display: table;
     overflow: hidden;
     margin-bottom: 30px;
}
 #portfolio .portfolio-item .details {
     height: 260px;
     background: #fff;
     display: table-cell;
     vertical-align: middle;
     opacity: 0;
     transition: 0.3s;
     text-align: center;
}
 #portfolio .portfolio-item .details h4 {
     font-size: 16px;
     transition: transform 0.3s, opacity 0.3s;
     transform: translate3d(0, -15px, 0);
     font-weight: 700;
     color: #333333;
}
 #portfolio .portfolio-item .details span {
     display: block;
     color: #666666;
     font-size: 13px;
     transition: transform 0.3s, opacity 0.3s;
     transform: translate3d(0, 15px, 0);
}
 #portfolio .portfolio-item:hover .details {
     opacity: 0.8;
}
 #portfolio .portfolio-item:hover .details h4 {
     transform: translate3d(0, 0, 0);
}
 #portfolio .portfolio-item:hover .details span {
     transform: translate3d(0, 0, 0);
}
/* Testimonials Section --------------------------------*/
 #testimonials {
     background: #f6f6f6;
     padding: 80px 0;
}
 #testimonials .profile {
     text-align: center;
}
 #testimonials .profile .pic {
     border-radius: 50%;
     border: 6px solid #fff;
     margin-bottom: 15px;
     overflow: hidden;
     height: 260px;
     width: 260px;
}
 #testimonials .profile .pic img {
     max-width: 100%;
}
 #testimonials .profile h4 {
     font-weight: 700;
     color: #03C4EB;
     margin-bottom: 5px;
}
 #testimonials .profile span {
     color: #333333;
}
 #testimonials .quote {
     position: relative;
     background: #fff;
     padding: 60px;
     margin-top: 40px;
     font-size: 16px;
     font-style: italic;
     border-radius: 5px;
}
 #testimonials .quote b {
     display: inline-block;
     font-size: 22px;
     left: -9px;
     position: relative;
     top: -8px;
}
 #testimonials .quote small {
     display: inline-block;
     right: -9px;
     position: relative;
     top: 4px;
}
/* Team Section --------------------------------*/
 #team {
     background: #fff;
     padding: 80px 0 60px 0;
}
 #team .member {
     text-align: center;
     margin-bottom: 20px;
}
 #team .member .pic {
     margin-bottom: 15px;
     overflow: hidden;
    /* height: 215px;*/
}
 #team .member .pic img {
     max-width: 100%;
}
 #team .member h4 {
     font-weight: 700;
     margin-bottom: 2px;
}
 #team .member span {
     font-style: italic;
     display: block;
     font-size: 13px;
}
 #team .member .social {
     margin-top: 15px;
}
 #team .member .social a {
     color: #b3b3b3;
}
 #team .member .social a:hover {
     color: #03C4EB;
}
 #team .member .social i {
     font-size: 18px;
     margin: 0 2px;
}
/* Contact Section --------------------------------*/
 #contact {
     background: #f7f7f7;
     padding: 80px 0;
}
 #contact .info {
     color: #333333;
}
 #contact .info i {
     font-size: 32px;
     color: #03C4EB;
     float: left;
}
 #contact .info p {
     padding: 0 0 10px 50px;
     line-height: 24px;
}
 #contact .form #sendmessage {
     color: #03C4EB;
     border: 1px solid #03C4EB;
     display: none;
     text-align: center;
     padding: 15px;
     font-weight: 600;
     margin-bottom: 15px;
}
 #contact .form #errormessage {
     color: red;
     display: none;
     border: 1px solid red;
     text-align: center;
     padding: 15px;
     font-weight: 600;
     margin-bottom: 15px;
}
 #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
     display: block;
}
 #contact .form .validation {
     color: red;
     display: none;
     margin: 0 0 20px;
     font-weight: 400;
     font-size: 13px;
}
 #contact .form input, #contact .form textarea {
     border-radius: 0;
     box-shadow: none;
}
 #contact .form button[type="submit"] {
     background: #03C4EB;
     border: 0;
     padding: 10px 24px;
     color: #fff;
     transition: 0.4s;
}
 #contact .form button[type="submit"]:hover {
     background: #25d8fc;
}
/*-------------------------------------------------------------- # Footer --------------------------------------------------------------*/
 
#footer {
  background: #000;
  padding: 0 0 0px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 33px 0 8px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #18d26e;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #18d26e;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #18d26e;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #18d26e;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 61%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #18d26e;
  border: 0;
  padding: 6px 9px;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
 
